* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "Rubik", sans-serif;
}

.bg {
  width: 525px;
  height: 87%;
  left: -120px;
  top: 0;
  position: absolute;
  background-image: linear-gradient(
    45deg,
    hsl(264deg 100% 61%) 0%,
    hsl(280deg 100% 61%) 50%,
    hsl(293deg 100% 63%) 100%
  );
  border-radius: 0 0 50% 50%;
}

.card {
  z-index: 99;
  width: 280px;
  height: 535px;
  border-radius: 1.6rem;
  background-color: hsl(270, 20%, 96%);
  border: 10px solid white;
  box-shadow: 1rem 1rem 3.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  width: 100%;
  height: 70px;
  border-radius: 1.2rem 1.2rem 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    hsl(264deg 100% 61%) 0%,
    hsl(280deg 100% 61%) 50%,
    hsl(293deg 100% 63%) 100%
  );
}

.cam {
  width: 150px;
  height: 22px;
  top: 0;
  background-color: white;
  border-radius: 0 0 15px 15px;
  position: absolute;
  margin: -1px auto 0 auto;
}

.back_icon {
  width: 5px;
  height: 18px;
  cursor: pointer;
}

.header_contents {
  margin-top: 30px;
  width: 100%;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.header-left-side {
  width: 164px;
  height: 29px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 25px;
  height: 25px;
  object-fit: fill;
  border-radius: 50%;
  border: 2px solid white;
}

.header-left-side h2 {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 3px;
  color: hsl(270, 20%, 96%);
}

.header-left-side h2 span {
  font-size: 8px;
  font-weight: 400;
  opacity: 0.5;
  color: hsl(270, 20%, 96%);
}

.menu {
  cursor: pointer;
  width: 5px;
}
